@charset "UTF-8";
@font-face {
  font-family: "Graphik LC TT";
  src: url("../fonts/GraphikLCG-Regular.eot");
  src: local("☺"), url("../fonts/GraphikLCG-Regular.woff") format("woff"), url("../fonts/GraphikLCG-Regular.ttf") format("truetype"), url("../fonts/GraphikLCG-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LC TT";
  src: url("../fonts/GraphikLCG-Semibold.eot");
  src: local("☺"), url("../fonts/GraphikLCG-Semibold.woff") format("woff"), url("../fonts/GraphikLCG-Semibold.ttf") format("truetype"), url("../fonts/GraphikLCG-Semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
:root {
  --color-brand: #ff6336;
}

@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 8px;
  }
}

body {
  font-family: "Graphik LC TT", sans-serif;
  background-color: #fff;
}

.underlined-text {
  text-decoration: underline;
}

.d-flex {
  display: flex;
}

.ai-cent {
  align-items: center;
}

.ta-cent {
  text-align: center;
}

.m-auto {
  margin: 0 auto;
}

.black {
  color: #000000;
}

.header-wrapper {
  background-color: inherit;
  border-bottom: 1px solid #cccccc;
}

.header-content {
  max-width: 1338px;
  justify-content: space-between;
  padding: 25px 16px;
}
@media (max-width: 600px) {
  .header-content {
    flex-direction: column;
    gap: 20px;
  }
}

.navigation {
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media (max-width: 1200px) {
  .navigation {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 992px) {
  .navigation {
    -moz-column-gap: 17px;
         column-gap: 17px;
  }
}
@media (max-width: 600px) {
  .navigation {
    flex-direction: column;
    gap: 20px;
  }
}
.navigation .logo {
  align-self: center;
  width: 18%;
  height: auto;
}
@media (max-width: 600px) {
  .navigation .logo {
    width: 35%;
  }
}
.navigation .logo img {
  width: 100%;
}
.navigation .main-menu {
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media (max-width: 768px) {
  .navigation .main-menu {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 380px) {
  .navigation .main-menu {
    -moz-column-gap: 13px;
         column-gap: 13px;
  }
}
.navigation .main-menu-item {
  font-weight: 400;
  font-size: 1.07rem;
  line-height: 1.428rem;
}
.navigation .main-menu-item:hover {
  color: var(--color-brand);
  transition: all 0.3s ease-in-out;
}

.header-anchors {
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.header-anchors-login {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 13px 36px;
  font-weight: 600;
  font-size: 1.14rem;
  line-height: 1;
}
@media (max-width: 992px) {
  .header-anchors-login {
    padding: 10px 10px;
    align-self: center;
  }
}
@media (max-width: 600px) {
  .header-anchors-login {
    padding: 10px 15px;
  }
}
.header-anchors-login:hover {
  background-color: var(--color-brand);
  color: #fff;
  border: 1px solid var(--color-brand);
  transition: all 0.3s ease-in-out;
}
.header-anchors-try {
  background-color: var(--color-brand);
  padding: 13px 21px;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.14rem;
  line-height: 1;
  border: 1px solid transparent;
}
.header-anchors-try:hover {
  background-color: #fff;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .header-anchors-try {
    padding: 10px 10px;
    align-self: center;
  }
}
@media (max-width: 600px) {
  .header-anchors-try {
    padding: 10px 15px;
  }
}

.hero {
  background-color: inherit;
}
.hero-bg-image {
  max-width: 1298px;
  padding: 129px 16px 172px;
  background-image: url(../images/hero-background-img.png);
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 50%;
}
@media (max-width: 1200px) {
  .hero-bg-image {
    padding: 100px 16px 130px;
  }
}
@media (max-width: 992px) {
  .hero-bg-image {
    background-size: 48%;
    padding: 80px 16px 100px;
  }
}
@media (max-width: 768px) {
  .hero-bg-image {
    background: none;
    padding: 50px 16px 70px;
  }
}
.hero-bg-image .hero-content {
  max-width: 552px;
}
@media (max-width: 768px) {
  .hero-bg-image .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
    justify-content: center;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
.hero-bg-image .hero-content-head {
  font-weight: 600;
  font-size: 4.64rem;
  line-height: 5rem;
  margin-bottom: 0.8em;
}
@media (max-width: 768px) {
  .hero-bg-image .hero-content-head {
    margin-bottom: 0;
  }
}
.hero-bg-image .hero-content-paragraph {
  font-size: 1.785rem;
  line-height: 2.5rem;
  margin-bottom: 51px;
  max-width: 471px;
}
@media (max-width: 1200px) {
  .hero-bg-image .hero-content-paragraph {
    max-width: 450px;
  }
}
@media (max-width: 992px) {
  .hero-bg-image .hero-content-paragraph {
    max-width: 338px;
  }
}
@media (max-width: 768px) {
  .hero-bg-image .hero-content-paragraph {
    margin-bottom: 0;
  }
}
.hero-bg-image .hero-content-butts {
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  .hero-bg-image .hero-content-butts {
    margin-bottom: 0;
  }
}
.hero-bg-image .hero-content-butts .butt-try {
  background-color: var(--color-brand);
  color: #fff;
  padding: 22px 42px;
  font-weight: 600;
  font-size: 1.14rem;
  line-height: 1;
  color: #ffffff;
  border: 1px solid transparent;
}
.hero-bg-image .hero-content-butts .butt-try:hover {
  background-color: transparent;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .hero-bg-image .hero-content-butts .butt-try {
    padding: 12px 22px;
  }
}
@media (max-width: 600px) {
  .hero-bg-image .hero-content-butts .butt-try {
    padding: 10px 20px;
  }
}
.hero-bg-image .hero-content-butts .butt-bookdemo {
  padding: 22px 29px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-weight: 600;
  font-size: 1.14rem;
  line-height: 1;
}
.hero-bg-image .hero-content-butts .butt-bookdemo:hover {
  background-color: var(--color-brand);
  color: #fff;
  border: 1px solid var(--color-brand);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .hero-bg-image .hero-content-butts .butt-bookdemo {
    padding: 12px 19px;
  }
}
@media (max-width: 600px) {
  .hero-bg-image .hero-content-butts .butt-bookdemo {
    padding: 10px 16px;
  }
}
.hero-bg-image .hero-content-additional {
  font-size: 1.07rem;
  line-height: 1.785rem;
}

.companies {
  background-color: #ff9c7d;
}
.companies-content {
  max-width: 1243px;
  padding: 108px 16px 104px;
}
@media (max-width: 992px) {
  .companies-content {
    padding: 50px 16px;
  }
}
.companies-content-head {
  font-weight: 600;
  font-size: 3.57rem;
  line-height: 4.275rem;
  margin-bottom: 70px;
}
.companies-content-logos {
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
}
@media (max-width: 600px) {
  .companies-content-logos {
    gap: 50px;
  }
}

.benefits {
  background-color: inherit;
}
.benefits-content {
  max-width: 1290px;
  padding: 90px 16px 150px;
}
@media (max-width: 768px) {
  .benefits-content {
    padding: 70px 16px 110px;
  }
}
@media (max-width: 600px) {
  .benefits-content {
    padding: 50px 16px 70px;
  }
}
.benefits-content-item {
  justify-content: space-around;
  margin-bottom: 250px;
  gap: 30px;
}
@media (max-width: 600px) {
  .benefits-content-item {
    flex-direction: column-reverse;
    text-align: center;
  }
}
@media (max-width: 992px) {
  .benefits-content-item {
    margin-bottom: 150px;
  }
}
@media (max-width: 768px) {
  .benefits-content-item {
    margin-bottom: 120px;
  }
}
@media (max-width: 600px) {
  .benefits-content-item {
    margin-bottom: 40px;
  }
}
.benefits-content-item:last-child {
  margin-bottom: 0;
}
.benefits-content-item:nth-child(even) {
  flex-direction: row-reverse;
  -moz-column-gap: 135px;
       column-gap: 135px;
}
@media (max-width: 992px) {
  .benefits-content-item:nth-child(even) {
    -moz-column-gap: 80px;
         column-gap: 80px;
  }
}
@media (max-width: 600px) {
  .benefits-content-item:nth-child(even) {
    flex-direction: column-reverse;
    text-align: center;
  }
}
.benefits-content-item img {
  width: 50%;
  height: auto;
}

@media (max-width: 600px) {
  .benefits-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.benefits-txt-head {
  font-weight: 600;
  font-size: 3.57rem;
  line-height: 4.275rem;
  margin-bottom: 30px;
  max-width: 83%;
}
@media (max-width: 600px) {
  .benefits-txt-head {
    margin: 0;
  }
}
.benefits-txt-parag {
  font-size: 1.428rem;
  line-height: 2.142rem;
  margin-bottom: 30px;
  max-width: 83%;
}
@media (max-width: 600px) {
  .benefits-txt-parag {
    margin: 0;
  }
}
.benefits-txt-anchor {
  font-weight: 600;
  font-size: 1.248rem;
  line-height: 2.142rem;
}
.benefits-txt-anchor:hover {
  color: var(--color-brand);
  transition: all 0.3s ease-in-out;
}

.localise {
  background-color: #fff8e4;
}
.localise-content {
  max-width: 1172px;
  padding: 120px 16px 147px;
}
@media (max-width: 768px) {
  .localise-content {
    padding: 75px 16px;
  }
}
.localise-content-head {
  font-weight: 600;
  font-size: 3.57rem;
  line-height: 4.275rem;
  margin-bottom: 79px;
}
.localise-content-items {
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 75px;
}
@media (max-width: 768px) {
  .localise-content-items {
    row-gap: 40px;
  }
}

.localise-item {
  flex-direction: column;
  row-gap: 23px;
}
.localise-item-image {
  align-self: center;
}
.localise-item-heading {
  font-weight: 600;
  font-size: 1.785rem;
  line-height: 2.5rem;
}
.localise-item-paragraph {
  font-size: 1.285rem;
  line-height: 1.785rem;
  width: 24.1rem;
}

.boost {
  background-color: inherit;
}
.boost-content {
  max-width: 1287px;
  padding: 154px 16px 187px;
}
@media (max-width: 992px) {
  .boost-content {
    padding: 100px 16px 120px;
  }
}
@media (max-width: 768px) {
  .boost-content {
    padding: 50px 16px 70px;
  }
}
.boost-content-head {
  font-weight: 600;
  font-size: 3.57rem;
  line-height: 4.275rem;
  margin-bottom: 75px;
  text-align: center;
}
@media (max-width: 768px) {
  .boost-content-head {
    margin-bottom: 40px;
  }
}
.boost-content-items {
  row-gap: 30px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.boost-item {
  flex-direction: column;
}
@media (max-width: 1259px) {
  .boost-item {
    text-align: center;
    align-items: center;
  }
}
.boost-item-wrap {
  height: 201px;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .boost-item-wrap {
    margin-bottom: 30px;
  }
}
.boost-item-wrap-img {
  align-self: center;
}
.boost-item-heading {
  font-weight: 600;
  font-size: 2.142rem;
  line-height: 2.857rem;
  margin-bottom: 34px;
}
@media (max-width: 768px) {
  .boost-item-heading {
    margin-bottom: 20px;
  }
}
.boost-item-paragraph {
  font-size: 1.428rem;
  line-height: 2.142rem;
  margin-bottom: 25px;
  width: 29rem;
}
.boost-item-link {
  font-size: 1.428rem;
  line-height: 2.142rem;
}

.quote {
  background-color: #c9e8f2;
}
.quote-content {
  max-width: 1290px;
  padding: 53px 16px 105px;
}
@media (max-width: 768px) {
  .quote-content {
    padding-bottom: 65px;
  }
}
.quote-content-wrap {
  -moz-column-gap: 59px;
       column-gap: 59px;
}
@media (max-width: 768px) {
  .quote-content-wrap {
    gap: 30px;
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .quote-content div {
    text-align: center;
  }
}

.quote-paragraph {
  font-size: 2.142rem;
  line-height: 2.857rem;
  margin-bottom: 23px;
}
.quote-caption {
  font-size: 1.07rem;
  line-height: 1.785rem;
  margin-bottom: 7px;
}

.human {
  align-self: center;
  width: 35%;
  height: auto;
}

.translation {
  background-color: #dabc98;
}
.translation-content {
  max-width: 1248px;
  padding: 79px 16px 84px;
}
@media (max-width: 768px) {
  .translation-content {
    flex-direction: column;
    padding: 40px 16px 50px;
    row-gap: 40px;
  }
}
.translation-content-wrap {
  gap: 67px;
}
@media (max-width: 768px) {
  .translation-content-wrap {
    text-align: center;
  }
}
.translation-content-wrap .translation-cake {
  align-self: center;
}
@media (max-width: 768px) {
  .translation-content-wrap .translation-cake {
    width: 20%;
    height: auto;
  }
}
.translation-content-wrap .translation-heading {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.57rem;
  padding: 10px;
}
@media (max-width: 992px) {
  .translation-content-wrap {
    gap: 30px;
  }
}
.translation-content-images {
  gap: 70px;
  border-left: 1px solid #000;
  padding: 30px 0 30px 71px;
}
@media (max-width: 1200px) {
  .translation-content-images {
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  .translation-content-images {
    padding: 30px 0 30px 40px;
  }
}
@media (max-width: 768px) {
  .translation-content-images {
    flex-direction: row;
    justify-content: space-evenly;
    border-left: 0;
    border-top: 1px solid black;
    padding: 35px 0 0 0;
    gap: 0;
  }
}
@media (max-width: 400px) {
  .translation-content-images {
    justify-content: space-between;
  }
}
.translation-content-images img {
  align-self: flex-start;
}
@media (max-width: 992px) {
  .translation-content-images img {
    width: 85%;
    height: auto;
  }
}
@media (max-width: 768px) {
  .translation-content-images img {
    width: auto;
  }
}

.integrate {
  background-color: inherit;
}
.integrate-content {
  max-width: 1023px;
  padding: 165px 16px 162px;
  flex-direction: column;
}
@media (max-width: 768px) {
  .integrate-content {
    padding: 35px 16px 35px;
  }
}
.integrate-content-head {
  font-weight: 600;
  font-size: 4.64rem;
  line-height: 7.357rem;
}
.integrate-content-paragraph {
  font-size: 1.785rem;
  line-height: 2.143rem;
  margin-bottom: 25px;
  max-width: 43%;
}
.integrate-content-image {
  margin-bottom: 32px;
  width: 100%;
  height: auto;
}
.integrate-content-anchor {
  font-weight: 600;
  font-size: 1.143rem;
  line-height: 1;
  color: #ffffff;
  background-color: var(--color-brand);
  padding: 27px 20px;
  display: inline-block;
  border: 1px solid transparent;
}
.integrate-content-anchor:hover {
  background-color: transparent;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .integrate-content-anchor {
    padding: 20px 13px;
  }
}
@media (max-width: 600px) {
  .integrate-content-anchor {
    padding: 12px 6px;
  }
}

.local {
  background-color: #ff9c7d;
}
.local-content {
  max-width: 784px;
  padding: 119px 16px 161px;
  flex-direction: column;
}
@media (max-width: 768px) {
  .local-content {
    padding: 60px 16px;
  }
}
.local-content-head {
  font-weight: 600;
  font-size: 4.642rem;
  line-height: 5.257rem;
  margin-bottom: 29px;
}
.local-content-paragraph {
  font-size: 1.428rem;
  line-height: 2.143rem;
  margin-bottom: 54px;
}
@media (max-width: 768px) {
  .local-content-paragraph {
    margin-bottom: 25px;
  }
}
.local-content-anchor {
  font-weight: 600;
  font-size: 1.214rem;
  line-height: 1;
  padding: 27px 40px;
  display: inline-block;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid transparent;
}
.local-content-anchor:hover {
  background-color: #fff;
  color: #000000;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .local-content-anchor {
    padding: 20px 33px;
  }
}
@media (max-width: 600px) {
  .local-content-anchor {
    padding: 12px 20px;
  }
}

.footer {
  background-color: #eeeeee;
}
.footer-content {
  max-width: 1290px;
  padding: 92px 16px 43px;
}
.footer-content-case {
  -moz-column-gap: 110px;
       column-gap: 110px;
  padding-bottom: 95px;
}
@media (max-width: 992px) {
  .footer-content-case {
    -moz-column-gap: 70px;
         column-gap: 70px;
  }
}
@media (max-width: 768px) {
  .footer-content-case {
    gap: 50px 70px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .footer-content {
    padding-top: 60px;
  }
}

.footer-bottom {
  padding-top: 47px;
  border-top: 1px solid #000;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .footer-bottom {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}
.footer-bottom-company {
  -moz-column-gap: 15px;
       column-gap: 15px;
  align-items: center;
}
@media (max-width: 768px) {
  .footer-bottom-company {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}
.footer-bottom-company .footer-paragraph {
  max-width: 301px;
  font-size: 0.857rem;
  line-height: 1.07rem;
}
.footer-bottom-rights {
  padding-right: 76px;
  font-size: 1rem;
}
@media (max-width: 768px) {
  .footer-bottom-rights {
    text-align: center;
    padding: 0;
  }
}

.nav {
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (max-width: 1200px) {
  .nav .nav-flex-inside {
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
}
@media (max-width: 768px) {
  .nav {
    justify-content: center;
    text-align: center;
  }
}

.nav-item-head {
  font-weight: 600;
  font-size: 1.428rem;
  line-height: 1.785rem;
  margin-bottom: 21px;
}
@media (max-width: 768px) {
  .nav-item-head {
    margin-bottom: 10px;
  }
}

.nav-flex-item {
  font-size: 1.07rem;
  line-height: 1.07rem;
  display: inline-block;
  margin-bottom: 15px;
  width: 12.1rem;
}
.nav-flex-item:hover {
  color: var(--color-brand);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .nav-flex-item {
    margin-bottom: 10px;
  }
}

.case {
  flex-direction: column;
}
@media (max-width: 768px) {
  .case {
    align-items: center;
    text-align: center;
  }
}
.case-head {
  font-weight: 600;
  font-size: 2.857rem;
  line-height: 3.57rem;
  margin-bottom: 28px;
}
.case-cyclists {
  margin-bottom: 31px;
}
@media (max-width: 600px) {
  .case-cyclists {
    margin-bottom: 20px;
  }
}
.case-logo {
  margin-bottom: 11px;
}
.case-paragraph {
  font-size: 1.428rem;
  line-height: 2.143rem;
  margin-bottom: 15px;
  width: 21rem;
}
.case-anchor {
  font-weight: 600;
  font-size: 1.428rem;
  line-height: 1.143rem;
}
.case-anchor:hover {
  color: var(--color-brand);
  transition: all 0.3s ease-in-out;
}/*# sourceMappingURL=main.css.map */