@font-face {
	font-family: "Graphik LC TT";
	src: url("../fonts/GraphikLCG-Regular.eot");
	src: local("☺"), url("../fonts/GraphikLCG-Regular.woff") format("woff"),
		url("../fonts/GraphikLCG-Regular.ttf") format("truetype"),
		url("../fonts/GraphikLCG-Regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Graphik LC TT";
	src: url("../fonts/GraphikLCG-Semibold.eot");
	src: local("☺"), url("../fonts/GraphikLCG-Semibold.woff") format("woff"),
		url("../fonts/GraphikLCG-Semibold.ttf") format("truetype"),
		url("../fonts/GraphikLCG-Semibold.svg") format("svg");
	font-weight: 600;
	font-style: normal;
}

:root {
	--color-brand: #ff6336;
}

body {
	font-family: "Graphik LC TT", sans-serif;
	background-color: #fff;
}

.underlined-text {
	text-decoration: underline;
}

.d-flex {
	display: flex;
}

.ai-cent {
	align-items: center;
}

.ta-cent {
	text-align: center;
}

.m-auto {
	margin: 0 auto;
}

.black {
	color: #000000;
}

.header-wrapper {
	background-color: inherit;
	border-bottom: 1px solid #cccccc;
}

.header-content {
	max-width: 1338px;
	justify-content: space-between;
	padding: 25px 16px;
}

.navigation {
	column-gap: 50px;

	@media (max-width: 1200px) {
		column-gap: 30px;
	}

	@media (max-width: 992px) {
		column-gap: 15px;
	}

	.logo {
		align-self: center;
	}

	.main-menu {
		column-gap: 50px;

		@media (max-width: 1200px) {
			column-gap: 30px;
		}

		@media (max-width: 992px) {
			column-gap: 15px;
		}

		&-item {
			font-weight: 400;
			font-size: 15px;
			line-height: 20px;

			&:hover {
				color: var(--color-brand);
				transition: all 0.3s ease-in-out;
			}

			@media (max-width: 992px) {
				font-size: 13px;
			}
		}
	}
}

.header-anchors {
	column-gap: 10px;

	&-login {
		border: 1px solid rgba(0, 0, 0, 0.5);
		padding: 13px 36px;
		font-weight: 600;
		font-size: 16px;
		line-height: 1;

		&:hover {
			background-color: var(--color-brand);
			color: #fff;
			border: 1px solid var(--color-brand);
			transition: all 0.3s ease-in-out;
		}

		@media (max-width: 992px) {
			padding: 10px 10px;
			font-size: 14px;
			align-self: center;
		}
	}

	&-try {
		background-color: var(--color-brand);
		padding: 13px 21px;
		color: #ffffff;
		font-weight: 600;
		font-size: 16px;
		line-height: 1;
		border: 1px solid transparent;

		&:hover {
			background-color: #fff;
			color: #000000;
			border: 1px solid rgba(0, 0, 0, 0.5);
			transition: all 0.3s ease-in-out;
		}

		@media (max-width: 992px) {
			padding: 10px 10px;
			font-size: 14px;
			align-self: center;
		}
	}
}

.hero {
	background-color: inherit;

	&-bg-image {
		max-width: 1298px;
		padding: 129px 16px 172px;
		background-image: url(../images/hero-background-img.png);
		background-repeat: no-repeat;
		background-position: 95%;
		background-size: 50%;

		@media (max-width: 992px) {
			background-size: 48%;
		}

		.hero-content {
			max-width: 552px;

			&-head {
				font-weight: 600;
				font-size: 65px;
				line-height: 70px;
				margin-bottom: 0.8em;

				@media (max-width: 1200px) {
					font-size: 60px;
				}

				@media (max-width: 992px) {
					font-size: 50px;
					line-height: 55px;
				}
			}

			&-paragraph {
				font-size: 25px;
				line-height: 35px;
				margin-bottom: 51px;
				max-width: 471px;

				@media (max-width: 1200px) {
					font-size: 20px;
					max-width: 450px;
				}

				@media (max-width: 992px) {
					max-width: 338px;
					font-size: 18px;
				}
			}

			&-butts {
				column-gap: 10px;
				margin-bottom: 25px;

				.butt-try {
					background-color: var(--color-brand);
					color: #fff;
					padding: 22px 42px;
					font-weight: 600;
					font-size: 16px;
					line-height: 1;
					color: #ffffff;
					border: 1px solid transparent;

					&:hover {
						background-color: transparent;
						color: #000000;
						border: 1px solid rgba(0, 0, 0, 0.5);
						transition: all 0.3s ease-in-out;
					}

					@media (max-width: 992px) {
						padding: 12px 22px;
						font-size: 12px;
					}
				}

				.butt-bookdemo {
					padding: 22px 29px;
					border: 1px solid rgba(0, 0, 0, 0.5);
					font-weight: 600;
					font-size: 16px;
					line-height: 1;

					&:hover {
						background-color: var(--color-brand);
						color: #fff;
						border: 1px solid var(--color-brand);
						transition: all 0.3s ease-in-out;
					}

					@media (max-width: 992px) {
						padding: 12px 19px;
						font-size: 12px;
					}
				}
			}

			&-additional {
				font-size: 15px;
				line-height: 25px;
			}
		}
	}
}

.companies {
	background-color: #ff9c7d;

	&-content {
		max-width: 1243px;
		padding: 108px 16px 104px;

		&-head {
			font-weight: 600;
			font-size: 50px;
			line-height: 60px;
			margin-bottom: 70px;
		}

		&-logos {
			justify-content: center;
			flex-wrap: wrap;
			gap: 80px;
		}
	}
}

.benefits {
	background-color: inherit;

	&-content {
		max-width: 1290px;
		padding: 90px 16px 150px;

		&-item {
			justify-content: space-around;
			margin-bottom: 250px;

			&:last-child {
				margin-bottom: 0;
			}

			&:nth-child(even) {
				flex-direction: row-reverse;
			}

			img {
				width: 50%;
				height: auto;
			}

			@media (max-width: 1200px) {
				img {
					width: 40%;
				}
			}
		}
	}
}

.benefits-txt {
	max-width: 493px;

	&-head {
		font-weight: 600;
		font-size: 50px;
		line-height: 60px;
		margin-bottom: 30px;

		@media (max-width: 1200px) {
			font-size: 45px;
		}
	}

	&-parag {
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 30px;
	}

	&-anchor {
		font-weight: 600;
		font-size: 20px;
		line-height: 30px;

		&:hover {
			color: var(--color-brand);
			transition: all 0.3s ease-in-out;
		}
	}
}

.localise {
	background-color: #fff8e4;

	&-content {
		max-width: 1172px;
		padding: 120px 16px 147px;

		&-head {
			font-weight: 600;
			font-size: 50px;
			line-height: 60px;
			margin-bottom: 79px;
		}

		&-items {
			justify-content: space-around;
			flex-wrap: wrap;
			row-gap: 75px;
		}
	}
}

.localise-item {
	flex-direction: column;

	&-image {
		align-self: center;
		margin-bottom: 26px;
	}

	&-heading {
		font-weight: 600;
		font-size: 25px;
		line-height: 35px;
		margin-bottom: 20px;
	}

	&-paragraph {
		font-size: 18px;
		line-height: 25px;
		width: 330px;
	}
}

.boost {
	background-color: inherit;

	&-content {
		max-width: 1287px;
		padding: 154px 16px 187px;

		&-head {
			font-weight: 600;
			font-size: 50px;
			line-height: 60px;
			margin-bottom: 75px;
		}

		&-items {
			column-gap: 31px;
		}
	}
}

.boost-item {
	flex-direction: column;

	&-wrap {
		height: 201px;
		margin-bottom: 50px;

		&-img {
			align-self: center;
		}
	}

	&-heading {
		font-weight: 600;
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 34px;
	}

	&-paragraph {
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 25px;
		max-width: 409px;
	}

	&-link {
		font-size: 20px;
		line-height: 30px;
	}
}

.quote {
	background-color: #c9e8f2;

	&-content {
		max-width: 1290px;
		padding: 53px 16px 105px;

		&-wrap {
			column-gap: 59px;
		}
	}
}

.quote-paragraph {
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 23px;

	@media (max-width: 1200px) {
		font-size: 25px;
	}
}

.quote-caption {
	font-size: 15px;
	line-height: 25px;
	margin-bottom: 7px;
}

.translation {
	background-color: #dabc98;

	&-content {
		max-width: 1248px;
		padding: 79px 16px 84px;

		&-wrap {
			gap: 67px;

			.translation-cake {
				align-self: center;
			}

			.translation-heading {
				font-weight: 600;
				font-size: 35px;
				line-height: 50px;
				padding: 10px;
			}

			@media (max-width: 992px) {
				gap: 30px;
			}
		}

		&-images {
			gap: 70px;
			border-left: 1px solid #000;
			padding: 30px 0 30px 71px;

			img {
				align-self: center;
			}

			@media (max-width: 1200px) {
				flex-direction: column;
			}
		}
	}
}

.integrate {
	background-color: inherit;

	&-content {
		max-width: 1023px;
		padding: 165px 16px 162px;
		flex-direction: column;

		&-head {
			font-weight: 600;
			font-size: 65px;
			line-height: 75px;
		}

		&-paragraph {
			font-size: 25px;
			line-height: 30px;
			margin-bottom: 25px;
			max-width: 539px;
		}

		&-image {
			margin-bottom: 32px;
			width: 100%;
			height: auto;
		}

		&-anchor {
			font-weight: 600;
			font-size: 16px;
			line-height: 1;
			color: #ffffff;
			background-color: var(--color-brand);
			padding: 27px 20px 27px 20px;
			display: inline-block;
			border: 1px solid transparent;

			&:hover {
				background-color: transparent;
				color: #000000;
				border: 1px solid rgba(0, 0, 0, 0.5);
				transition: all 0.3s ease-in-out;
			}
		}
	}
}

.local {
	background-color: #ff9c7d;

	&-content {
		max-width: 784px;
		padding: 119px 16px 161px;
		flex-direction: column;

		&-head {
			font-weight: 600;
			font-size: 65px;
			line-height: 75px;
			margin-bottom: 29px;
		}

		&-paragraph {
			font-size: 20px;
			line-height: 30px;
			margin-bottom: 54px;
		}

		&-anchor {
			font-weight: 600;
			font-size: 17px;
			line-height: 1;
			padding: 27px 40px 27px 40px;
			display: inline-block;
			background-color: #000000;
			color: #ffffff;
			border: 1px solid transparent;

			&:hover {
				background-color: #fff;
				color: #000000;
				transition: all 0.3s ease-in-out;
			}
		}
	}
}

.footer {
	background-color: #eeeeee;

	&-content {
		max-width: 1290px;
		padding: 92px 16px 43px;

		&-case {
			column-gap: 110px;
			padding-bottom: 95px;
		}
	}
}

.footer-bottom {
	padding-top: 47px;
	border-top: 1px solid #000;
	justify-content: space-between;

	&-company {
		column-gap: 15px;
		align-items: flex-start;

		.footer-paragraph {
			max-width: 301px;
			font-size: 12px;
			line-height: 15px;
		}
	}

	&-rights {
		padding-right: 76px;
	}
}

.nav {
	gap: 20px;
	flex-wrap: wrap;
	justify-content: space-around;

	@media (max-width: 1200px) {
		.nav-flex-inside {
			column-gap: 60px;
		}
	}
}

.nav-item-head {
	font-weight: 600;
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 21px;
}

.nav-flex-item {
	font-size: 15px;
	line-height: 15px;
	display: inline-block;
	margin-bottom: 15px;
	width: 170px;

	&:hover {
		color: var(--color-brand);
		transition: all 0.3s ease-in-out;
	}
}

.case {
	flex-direction: column;

	&-head {
		font-weight: 600;
		font-size: 40px;
		line-height: 50px;
		margin-bottom: 28px;
	}

	&-cyclists {
		margin-bottom: 31px;
		align-self: flex-start;
	}

	&-logo {
		margin-bottom: 11px;
		align-self: flex-start;
	}

	&-paragraph {
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 15px;
		width: 290px;
	}

	&-anchor {
		font-weight: 600;
		font-size: 20px;
		line-height: 30px;
		width: 107px;

		&:hover {
			color: var(--color-brand);
			transition: all 0.3s ease-in-out;
		}
	}
}
