@font-face {
	font-family: "Graphik LC TT";
	src: url("../fonts/GraphikLCG-Regular.eot");
	src: local("☺"), url("../fonts/GraphikLCG-Regular.woff") format("woff"),
		url("../fonts/GraphikLCG-Regular.ttf") format("truetype"),
		url("../fonts/GraphikLCG-Regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Graphik LC TT";
	src: url("../fonts/GraphikLCG-Semibold.eot");
	src: local("☺"), url("../fonts/GraphikLCG-Semibold.woff") format("woff"),
		url("../fonts/GraphikLCG-Semibold.ttf") format("truetype"),
		url("../fonts/GraphikLCG-Semibold.svg") format("svg");
	font-weight: 600;
	font-style: normal;
}

:root {
	--color-brand: #ff6336;
}

html {
	@media (max-width: 1200px) {
		font-size: 12px;
	}

	@media (max-width: 992px) {
		font-size: 10px;
	}

	@media (max-width: 768px) {
		font-size: 9px;
	}

	@media (max-width: 600px) {
		font-size: 8px;
	}
}

body {
	font-family: "Graphik LC TT", sans-serif;
	background-color: #fff;
}

.underlined-text {
	text-decoration: underline;
}

.d-flex {
	display: flex;
}

.ai-cent {
	align-items: center;
}

.ta-cent {
	text-align: center;
}

.m-auto {
	margin: 0 auto;
}

.black {
	color: #000000;
}

.header-wrapper {
	background-color: inherit;
	border-bottom: 1px solid #cccccc;
}

.header-content {
	max-width: 1338px;
	justify-content: space-between;
	padding: 25px 16px;

	@media (max-width: 600px) {
		flex-direction: column;
		gap: 20px;
	}
}

.navigation {
	column-gap: 50px;

	@media (max-width: 1200px) {
		column-gap: 30px;
	}

	@media (max-width: 992px) {
		column-gap: 17px;
	}

	@media (max-width: 600px) {
		flex-direction: column;
		gap: 20px;
	}

	.logo {
		align-self: center;
		width: 18%;
		height: auto;

		@media (max-width: 600px) {
			width: 35%;
		}

		img {
			width: 100%;
		}
	}

	.main-menu {
		column-gap: 50px;

		@media (max-width: 768px) {
			column-gap: 30px;
		}

		@media (max-width: 380px) {
			column-gap: 13px;
		}

		&-item {
			font-weight: 400;
			font-size: 1.07rem;
			line-height: 1.428rem;

			&:hover {
				color: var(--color-brand);
				transition: all 0.3s ease-in-out;
			}
		}
	}
}

.header-anchors {
	column-gap: 10px;

	&-login {
		border: 1px solid rgba(0, 0, 0, 0.5);
		padding: 13px 36px;
		font-weight: 600;
		font-size: 1.14rem;
		line-height: 1;

		@media (max-width: 992px) {
			padding: 10px 10px;
			align-self: center;
		}

		@media (max-width: 600px) {
			padding: 10px 15px;
		}

		&:hover {
			background-color: var(--color-brand);
			color: #fff;
			border: 1px solid var(--color-brand);
			transition: all 0.3s ease-in-out;
		}
	}

	&-try {
		background-color: var(--color-brand);
		padding: 13px 21px;
		color: #ffffff;
		font-weight: 600;
		font-size: 1.14rem;
		line-height: 1;
		border: 1px solid transparent;

		&:hover {
			background-color: #fff;
			color: #000000;
			border: 1px solid rgba(0, 0, 0, 0.5);
			transition: all 0.3s ease-in-out;
		}

		@media (max-width: 992px) {
			padding: 10px 10px;
			align-self: center;
		}

		@media (max-width: 600px) {
			padding: 10px 15px;
		}
	}
}

.hero {
	background-color: inherit;

	&-bg-image {
		max-width: 1298px;
		padding: 129px 16px 172px;
		background-image: url(../images/hero-background-img.png);
		background-repeat: no-repeat;
		background-position: 95%;
		background-size: 50%;

		@media (max-width: 1200px) {
			padding: 100px 16px 130px;
		}

		@media (max-width: 992px) {
			background-size: 48%;
			padding: 80px 16px 100px;
		}

		@media (max-width: 768px) {
			background: none;
			padding: 50px 16px 70px;
		}

		.hero-content {
			max-width: 552px;

			@media (max-width: 768px) {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 30px;
				text-align: center;
				justify-content: center;
				max-width: fit-content;
			}

			&-head {
				font-weight: 600;
				font-size: 4.64rem;
				line-height: 5rem;
				margin-bottom: 0.8em;

				@media (max-width: 768px) {
					margin-bottom: 0;
				}
			}

			&-paragraph {
				font-size: 1.785rem;
				line-height: 2.5rem;
				margin-bottom: 51px;
				max-width: 471px;

				@media (max-width: 1200px) {
					max-width: 450px;
				}

				@media (max-width: 992px) {
					max-width: 338px;
				}

				@media (max-width: 768px) {
					margin-bottom: 0;
				}
			}

			&-butts {
				column-gap: 10px;
				margin-bottom: 25px;

				@media (max-width: 768px) {
					margin-bottom: 0;
				}

				.butt-try {
					background-color: var(--color-brand);
					color: #fff;
					padding: 22px 42px;
					font-weight: 600;
					font-size: 1.14rem;
					line-height: 1;
					color: #ffffff;
					border: 1px solid transparent;

					&:hover {
						background-color: transparent;
						color: #000000;
						border: 1px solid rgba(0, 0, 0, 0.5);
						transition: all 0.3s ease-in-out;
					}

					@media (max-width: 992px) {
						padding: 12px 22px;
					}

					@media (max-width: 600px) {
						padding: 10px 20px;
					}
				}

				.butt-bookdemo {
					padding: 22px 29px;
					border: 1px solid rgba(0, 0, 0, 0.5);
					font-weight: 600;
					font-size: 1.14rem;
					line-height: 1;

					&:hover {
						background-color: var(--color-brand);
						color: #fff;
						border: 1px solid var(--color-brand);
						transition: all 0.3s ease-in-out;
					}

					@media (max-width: 992px) {
						padding: 12px 19px;
					}

					@media (max-width: 600px) {
						padding: 10px 16px;
					}
				}
			}

			&-additional {
				font-size: 1.07rem;
				line-height: 1.785rem;
			}
		}
	}
}

.companies {
	background-color: #ff9c7d;

	&-content {
		max-width: 1243px;
		padding: 108px 16px 104px;

		@media (max-width: 992px) {
			padding: 50px 16px;
		}

		&-head {
			font-weight: 600;
			font-size: 3.57rem;
			line-height: 4.275rem;
			margin-bottom: 70px;
		}

		&-logos {
			justify-content: center;
			flex-wrap: wrap;
			gap: 80px;

			@media (max-width: 600px) {
				gap: 50px;
			}
		}
	}
}

.benefits {
	background-color: inherit;

	&-content {
		max-width: 1290px;
		padding: 90px 16px 150px;

		@media (max-width: 768px) {
			padding: 70px 16px 110px;
		}

		@media (max-width: 600px) {
			padding: 50px 16px 70px;
		}

		&-item {
			justify-content: space-around;
			margin-bottom: 250px;
			gap: 30px;

			@media (max-width: 600px) {
				flex-direction: column-reverse;
				text-align: center;
			}

			@media (max-width: 992px) {
				margin-bottom: 150px;
			}

			@media (max-width: 768px) {
				margin-bottom: 120px;
			}

			@media (max-width: 600px) {
				margin-bottom: 40px;
			}

			&:last-child {
				margin-bottom: 0;
			}

			&:nth-child(even) {
				flex-direction: row-reverse;
				column-gap: 135px;

				@media (max-width: 992px) {
					column-gap: 80px;
				}

				@media (max-width: 600px) {
					flex-direction: column-reverse;
					text-align: center;
				}
			}

			img {
				width: 50%;
				height: auto;
			}
		}
	}
}

.benefits-txt {

	@media (max-width: 600px) {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
	}

	&-head {
		font-weight: 600;
		font-size: 3.57rem;
		line-height: 4.275rem;
		margin-bottom: 30px;
		max-width: 83%;

		@media (max-width: 600px) {
			margin: 0;
		}
	}

	&-parag {
		font-size: 1.428rem;
		line-height: 2.142rem;
		margin-bottom: 30px;
		max-width: 83%;

		@media (max-width: 600px) {
			margin: 0;
		}
	}

	&-anchor {
		font-weight: 600;
		font-size: 1.248rem;
		line-height: 2.142rem;

		&:hover {
			color: var(--color-brand);
			transition: all 0.3s ease-in-out;
		}
	}
}

.localise {
	background-color: #fff8e4;

	&-content {
		max-width: 1172px;
		padding: 120px 16px 147px;

		@media (max-width: 768px) {
			padding: 75px 16px;
		}

		&-head {
			font-weight: 600;
			font-size: 3.57rem;
			line-height: 4.275rem;
			margin-bottom: 79px;
		}

		&-items {
			justify-content: space-around;
			flex-wrap: wrap;
			row-gap: 75px;

			@media (max-width: 768px) {
				row-gap: 40px;
			}
		}
	}
}

.localise-item {
	flex-direction: column;
	row-gap: 23px;

	&-image {
		align-self: center;
	}

	&-heading {
		font-weight: 600;
		font-size: 1.785rem;
		line-height: 2.5rem;
	}

	&-paragraph {
		font-size: 1.285rem;
		line-height: 1.785rem;
		width: 24.1rem;
	}
}

.boost {
	background-color: inherit;

	&-content {
		max-width: 1287px;
		padding: 154px 16px 187px;

		@media (max-width: 992px) {
			padding: 100px 16px 120px;
		}

		@media (max-width: 768px) {
			padding: 50px 16px 70px;
		}

		&-head {
			font-weight: 600;
			font-size: 3.57rem;
			line-height: 4.275rem;
			margin-bottom: 75px;
			text-align: center;

			@media (max-width: 768px) {
				margin-bottom: 40px;
			}
		}

		&-items {
			row-gap: 30px;
			flex-wrap: wrap;
			justify-content: space-evenly;
		}
	}
}

.boost-item {
	flex-direction: column;

	@media (max-width: 1259px) {
		text-align: center;
		align-items: center;
	}

	&-wrap {
		height: 201px;
		margin-bottom: 50px;

		@media (max-width: 768px) {
			margin-bottom: 30px;
		}

		&-img {
			align-self: center;
		}
	}

	&-heading {
		font-weight: 600;
		font-size: 2.142rem;
		line-height: 2.857rem;
		margin-bottom: 34px;

		@media (max-width: 768px) {
			margin-bottom: 20px;
		}
	}

	&-paragraph {
		font-size: 1.428rem;
		line-height: 2.142rem;
		margin-bottom: 25px;
		width: 29rem;
	}

	&-link {
		font-size: 1.428rem;
		line-height: 2.142rem;
	}
}

.quote {
	background-color: #c9e8f2;

	&-content {
		max-width: 1290px;
		padding: 53px 16px 105px;

		@media (max-width: 768px) {
			padding-bottom: 65px;
		}

		&-wrap {
			column-gap: 59px;

			@media (max-width: 768px) {
				gap: 30px;
				flex-direction: column-reverse;
				align-items: center;
			}
		}

		div {
			@media (max-width: 768px) {
				text-align: center;
			}
		}
	}
}

.quote-paragraph {
	font-size: 2.142rem;
	line-height: 2.857rem;
	margin-bottom: 23px;

	@media (max-width: 1200px) {
		// font-size: 25px;
	}
}

.quote-caption {
	font-size: 1.07rem;
	line-height: 1.785rem;
	margin-bottom: 7px;
}

.human {
	align-self: center;
	width: 35%;
	height: auto;
}

.translation {
	background-color: #dabc98;

	&-content {
		max-width: 1248px;
		padding: 79px 16px 84px;

		@media (max-width: 768px) {
			flex-direction: column;
			padding: 40px 16px 50px;
			row-gap: 40px;
		}

		&-wrap {
			gap: 67px;

			@media (max-width: 768px) {
				text-align: center;
			}

			.translation-cake {
				align-self: center;

				@media (max-width: 768px) {
					width: 20%;
					height: auto;
				}
			}

			.translation-heading {
				font-weight: 600;
				font-size: 2.5rem;
				line-height: 3.57rem;
				padding: 10px;
			}

			@media (max-width: 992px) {
				gap: 30px;
			}
		}

		&-images {
			gap: 70px;
			border-left: 1px solid #000;
			padding: 30px 0 30px 71px;

			@media (max-width: 1200px) {
				flex-direction: column;
			}

			@media (max-width: 992px) {
				padding: 30px 0 30px 40px;
			}

			@media (max-width: 768px) {
				flex-direction: row;
				justify-content: space-evenly;
				border-left: 0;
				border-top: 1px solid black;
				padding: 35px 0 0 0;
				gap: 0;
			}

			@media (max-width: 400px) {
				justify-content: space-between;
			}

			img {
				align-self: flex-start;

				@media (max-width: 992px) {
					width: 85%;
					height: auto;
				}

				@media (max-width: 768px) {
					width: auto;
				}
			}
		}
	}
}

.integrate {
	background-color: inherit;

	&-content {
		max-width: 1023px;
		padding: 165px 16px 162px;
		flex-direction: column;

		@media (max-width: 768px) {
			padding: 35px 16px 35px;
		}

		&-head {
			font-weight: 600;
			font-size: 4.64rem;
			line-height: 7.357rem;
		}

		&-paragraph {
			font-size: 1.785rem;
			line-height: 2.143rem;
			margin-bottom: 25px;
			max-width: 43%;
		}

		&-image {
			margin-bottom: 32px;
			width: 100%;
			height: auto;
		}

		&-anchor {
			font-weight: 600;
			font-size: 1.143rem;
			line-height: 1;
			color: #ffffff;
			background-color: var(--color-brand);
			padding: 27px 20px;
			display: inline-block;
			border: 1px solid transparent;

			&:hover {
				background-color: transparent;
				color: #000000;
				border: 1px solid rgba(0, 0, 0, 0.5);
				transition: all 0.3s ease-in-out;
			}

			@media (max-width: 768px) {
				padding: 20px 13px;
			}

			@media (max-width: 600px) {
				padding: 12px 6px;
			}
		}
	}
}

.local {
	background-color: #ff9c7d;

	&-content {
		max-width: 784px;
		padding: 119px 16px 161px;
		flex-direction: column;

		@media (max-width: 768px) {
			padding: 60px 16px;
		}

		&-head {
			font-weight: 600;
			font-size: 4.642rem;
			line-height: 5.257rem;
			margin-bottom: 29px;
		}

		&-paragraph {
			font-size: 1.428rem;
			line-height: 2.143rem;
			margin-bottom: 54px;

			@media (max-width: 768px) {
				margin-bottom: 25px;
			}
		}

		&-anchor {
			font-weight: 600;
			font-size: 1.214rem;
			line-height: 1;
			padding: 27px 40px;
			display: inline-block;
			background-color: #000000;
			color: #ffffff;
			border: 1px solid transparent;

			&:hover {
				background-color: #fff;
				color: #000000;
				transition: all 0.3s ease-in-out;
			}

			@media (max-width: 768px) {
				padding: 20px 33px;
			}

			@media (max-width: 600px) {
				padding: 12px 20px;
			}
		}
	}
}

.footer {
	background-color: #eeeeee;

	&-content {
		max-width: 1290px;
		padding: 92px 16px 43px;

		&-case {
			column-gap: 110px;
			padding-bottom: 95px;

			@media (max-width: 992px) {
				column-gap: 70px;
			}

			@media (max-width: 768px) {
				gap: 50px 70px;
				flex-direction: column;
				align-items: center;
				padding-bottom: 50px;
			}
		}

		@media (max-width: 768px) {
			padding-top: 60px;
		}
	}
}

.footer-bottom {
	padding-top: 47px;
	border-top: 1px solid #000;
	justify-content: space-between;
	align-items: center;

	@media (max-width: 768px) {
		flex-direction: column;
		justify-content: center;
		gap: 20px;
	}

	&-company {
		column-gap: 15px;
		align-items: center;

		@media (max-width: 768px) {
			flex-direction: column;
			justify-content: center;
			gap: 20px;
		}

		.footer-paragraph {
			max-width: 301px;
			font-size: 0.857rem;
			line-height: 1.07rem;
		}
	}

	&-rights {
		padding-right: 76px;
		font-size: 1rem;

		@media (max-width: 768px) {
			text-align: center;
			padding: 0;
		}
	}
}

.nav {
	gap: 20px;
	flex-wrap: wrap;
	justify-content: space-around;

	@media (max-width: 1200px) {
		.nav-flex-inside {
			column-gap: 60px;
		}
	}

	@media (max-width: 768px) {
		justify-content: center;
		text-align: center;
	}
}

.nav-item-head {
	font-weight: 600;
	font-size: 1.428rem;
	line-height: 1.785rem;
	margin-bottom: 21px;

	@media (max-width: 768px) {
		margin-bottom: 10px;
	}
}

.nav-flex-item {
	font-size: 1.07rem;
	line-height: 1.07rem;
	display: inline-block;
	margin-bottom: 15px;
	width: 12.1rem;

	&:hover {
		color: var(--color-brand);
		transition: all 0.3s ease-in-out;
	}

	@media (max-width: 768px) {
		margin-bottom: 10px;
	}
}

.case {
	flex-direction: column;

	@media (max-width: 768px) {
		align-items: center;
		text-align: center;
	}

	&-head {
		font-weight: 600;
		font-size: 2.857rem;
		line-height: 3.57rem;
		margin-bottom: 28px;
	}

	&-cyclists {
		margin-bottom: 31px;

		@media (max-width: 600px) {
			margin-bottom: 20px;
		}
	}

	&-logo {
		margin-bottom: 11px;
	}

	&-paragraph {
		font-size: 1.428rem;
		line-height: 2.143rem;
		margin-bottom: 15px;
		width: 21rem;
	}

	&-anchor {
		font-weight: 600;
		font-size: 1.428rem;
		line-height: 1.143rem;

		&:hover {
			color: var(--color-brand);
			transition: all 0.3s ease-in-out;
		}
	}
}
