@font-face {
	font-family: "Graphik LC TT";
	src: url("../fonts/GraphikLCG-Regular.eot");
	src: local("☺"), url("../fonts/GraphikLCG-Regular.woff") format("woff"),
		url("../fonts/GraphikLCG-Regular.ttf") format("truetype"),
		url("../fonts/GraphikLCG-Regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Graphik LC TT";
	src: url("../fonts/GraphikLCG-Semibold.eot");
	src: local("☺"), url("../fonts/GraphikLCG-Semibold.woff") format("woff"),
		url("../fonts/GraphikLCG-Semibold.ttf") format("truetype"),
		url("../fonts/GraphikLCG-Semibold.svg") format("svg");
	font-weight: 600;
	font-style: normal;
}

:root {
	--color-brand: #ff6336;
}

.underlined-text {
	text-decoration: underline;
}

body {
	font-family: "Graphik LC TT", sans-serif;
	background-color: #fff;

	.header-wrapper {
		background-color: inherit;
		border-bottom: 1px solid #cccccc;

		.header-content {
			max-width: 1338px;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 25px 25px;

			.navigation {
				display: flex;
				column-gap: 50px;

				@media (max-width: 1200px) {
					column-gap: 30px;
				}

				@media (max-width: 992px) {
					column-gap: 15px;
				}

				.logo {
					align-self: center;
				}

				.main-menu {
					display: flex;
					align-items: center;
					column-gap: 50px;

					@media (max-width: 1200px) {
						column-gap: 30px;
					}

					@media (max-width: 992px) {
						column-gap: 15px;
					}

					&-item {
						font-weight: 400;
						font-size: 15px;
						line-height: 20px;
						color: #000000;

						&:hover {
							color: var(--color-brand);
							transition: all 0.3s ease-in-out;
						}
					}
				}
			}

			.header-anchors {
				display: flex;
				column-gap: 10px;

				&-login {
					border: 1px solid rgba(0, 0, 0, 0.5);
					padding: 13px 36px;
					color: #000;
					font-weight: 600;
					font-size: 16px;
					line-height: 1;
					text-align: center;

					&:hover {
						background-color: var(--color-brand);
						color: #fff;
						border: 1px solid var(--color-brand);
						transition: all 0.3s ease-in-out;
					}

					@media (max-width: 992px) {
						padding: 13px 10px;
						font-size: 14px;
					}
				}

				&-try {
					background-color: var(--color-brand);
					padding: 13px 21px;
					color: #ffffff;
					font-weight: 600;
					font-size: 16px;
					line-height: 1;
					text-align: center;
					border: 1px solid transparent;

					&:hover {
						background-color: #fff;
						color: #000;
						border: 1px solid rgba(0, 0, 0, 0.5);
						transition: all 0.3s ease-in-out;
					}

					@media (max-width: 992px) {
						padding: 13px 10px;
						font-size: 14px;
					}
				}
			}
		}
	}

	main {
		.hero-wrapper {
			background-color: inherit;

			.hero-bg-image {
				max-width: 1298px;
				margin: 0 auto;
				padding: 129px 25px 172px;
				background-image: url(../images/hero-background-img.png);
				background-repeat: no-repeat;
				background-position: 95%;
				background-size: 50%;

				.hero-content {
					max-width: 552px;

					.hero-heading {
						font-weight: 600;
						font-size: 65px;
						line-height: 70px;
						color: #000000;
						margin-bottom: 0.8em;

						@media (max-width: 1200px) {
							font-size: 60px;
						}

						@media (max-width: 992px) {
							font-size: 35px;
						}
					}

					.hero-paragraph {
						font-size: 25px;
						line-height: 35px;
						color: #000000;
						margin-bottom: 51px;
						max-width: 471px;

						@media (max-width: 992px) {
							max-width: 400px;
							font-size: 20px;
						}
					}

					.hero-buttons-wrap {
						display: flex;
						align-items: center;
						column-gap: 10px;
						margin-bottom: 25px;

						.hero-butt-try {
							background-color: var(--color-brand);
							color: #fff;
							padding: 22px 42px;
							font-weight: 600;
							font-size: 16px;
							line-height: 1;
							text-align: center;
							color: #ffffff;
							border: 1px solid transparent;

							&:hover {
								background-color: transparent;
								color: #000;
								border: 1px solid rgba(0, 0, 0, 0.5);
								transition: all 0.3s ease-in-out;
							}

							@media (max-width: 992px) {
								padding: 12px 22px;
							}
						}

						.hero-butt-bookdemo {
							padding: 22px 29px;
							border: 1px solid rgba(0, 0, 0, 0.5);
							font-weight: 600;
							font-size: 16px;
							line-height: 1;
							text-align: center;
							color: #000000;

							&:hover {
								background-color: var(--color-brand);
								color: #fff;
								border: 1px solid var(--color-brand);
								transition: all 0.3s ease-in-out;
							}

							@media (max-width: 992px) {
								padding: 12px 19px;
							}
						}
					}

					.hero-additional {
						font-size: 15px;
						line-height: 25px;
						color: #000000;
					}
				}
			}
		}

		.companies-wrapper {
			background-color: #ff9c7d;

			.companies-content {
				max-width: 1243px;
				margin: 0 auto;
				padding: 108px 25px 104px;

				.companies-heading {
					font-weight: 600;
					font-size: 50px;
					line-height: 60px;
					text-align: center;
					color: #000000;
					margin-bottom: 70px;
				}

				.companies-flexible {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-wrap: wrap;
					gap: 80px;
				}
			}
		}

		.benefits-wrapper {
			background-color: inherit;

			.benefits-content {
				max-width: 1290px;
				margin: 0 auto;
				padding: 90px 25px 150px;

				.benefits-item-flexible {
					display: flex;
					justify-content: space-around;
					align-items: center;
					margin-bottom: 250px;

					&:last-child {
						margin-bottom: 0;
					}

					&:nth-child(even) {
						flex-direction: row-reverse;
					}

					img {
						width: 50%;
						height: auto;
					}

					@media (max-width: 1200px) {
						img {
							width: 40%;
						}
					}

					.benefits-text {
						max-width: 493px;

						.benefits-heading {
							font-weight: 600;
							font-size: 50px;
							line-height: 60px;
							color: #000000;
							margin-bottom: 30px;
						}

						.benefits-paragraph {
							font-size: 20px;
							line-height: 30px;
							color: #000000;
							margin-bottom: 30px;
						}

						.benefits-anchor {
							font-weight: 600;
							font-size: 20px;
							line-height: 30px;
							color: #000000;

							&:hover {
								color: var(--color-brand);
								transition: all 0.3s ease-in-out;
							}
						}
					}
				}
			}
		}

		.localise-wrapper {
			background-color: #fff8e4;

			.localise-content {
				max-width: 1172px;
				margin: 0 auto;
				padding: 120px 25px 147px;

				.localise-heading {
					font-weight: 600;
					font-size: 50px;
					line-height: 60px;
					text-align: center;
					color: #000000;
					margin-bottom: 79px;
				}

				.localise-items-flexible {
					display: flex;
					justify-content: space-around;
					flex-wrap: wrap;
					row-gap: 75px;

					.localise-item {
						display: flex;
						flex-direction: column;
						align-items: center;

						.localise-item-image {
							align-self: center;
							margin-bottom: 26px;
						}

						.localise-item-heading {
							font-weight: 600;
							font-size: 25px;
							line-height: 35px;
							text-align: center;
							color: #000000;
							margin-bottom: 20px;
						}

						.localise-item-paragraph {
							font-size: 18px;
							line-height: 25px;
							text-align: center;
							color: #000000;
							width: 330px;
						}
					}
				}
			}
		}

		.boost-wrapper {
			background-color: inherit;

			.boost-content {
				max-width: 1287px;
				margin: 0 auto;
				padding: 154px 25px 187px;

				.boost-heading {
					font-weight: 600;
					font-size: 50px;
					line-height: 60px;
					color: #000000;
					margin-bottom: 75px;
				}

				.boost-items-flexible {
					display: flex;
					column-gap: 31px;

					.boost-item {
						display: flex;
						flex-direction: column;

						.boost-img-size {
							height: 201px;
							margin-bottom: 50px;
							display: flex;

							.boost-item-image {
								align-self: center;
							}
						}

						.boost-item-heading {
							font-weight: 600;
							font-size: 30px;
							line-height: 40px;
							color: #000000;
							margin-bottom: 34px;
						}

						.boost-item-paragraph {
							font-size: 20px;
							line-height: 30px;
							color: #000000;
							margin-bottom: 25px;
							max-width: 409px;
						}

						.boost-link {
							font-size: 20px;
							line-height: 30px;
							color: #000000;
						}
					}
				}
			}
		}

		.quote-wrapper {
			background-color: #c9e8f2;

			.quote-content {
				max-width: 1290px;
				margin: 0 auto;
				padding: 53px 25px 105px;

				.quote {
					display: flex;
					column-gap: 59px;

					div {
						.quote-paragraph {
							font-size: 30px;
							line-height: 40px;
							color: #000000;
							margin-bottom: 23px;
						}

						.quote-caption {
							font-size: 15px;
							line-height: 25px;
							color: #000000;
							margin-bottom: 7px;
						}
					}
				}
			}
		}

		.translation-wrapper {
			background-color: #dabc98;

			.translation-content {
				max-width: 1248px;
				margin: 0 auto;
				padding: 79px 25px 84px;
				display: flex;

				.cake-head-wrap {
					display: flex;
					align-items: center;
					gap: 67px;

					.translation-cake {
						align-self: flex-start;
					}

					.translation-heading {
						font-weight: 600;
						font-size: 35px;
						line-height: 50px;
						color: #000000;
						padding: 10px;
					}

					@media (max-width: 1200px) {
						.translation-heading {
							font-size: 30px;
						}
					}
				}

				.soft-companies-images {
					display: flex;
					column-gap: 70px;
					border-left: 1px solid #000;
					padding: 30px 0 30px 71px;

					img {
						align-self: center;
					}
				}
			}
		}

		.integrate-wrapper {
			background-color: inherit;

			.integrate-content {
				max-width: 1023px;
				margin: 0 auto;
				padding: 165px 25px 162px;
				display: flex;
				flex-direction: column;
				align-items: center;

				.integrate-heading {
					font-weight: 600;
					font-size: 65px;
					line-height: 75px;
					text-align: center;
					color: #000000;
				}

				.integrate-paragraph {
					font-size: 25px;
					line-height: 30px;
					text-align: center;
					color: #000000;
					margin-bottom: 25px;
					max-width: 539px;
				}

				.integrate-image {
					margin-bottom: 32px;
					width: 100%;
					height: auto;
				}

				.integrate-anchor {
					font-weight: 600;
					font-size: 16px;
					line-height: 1;
					color: #ffffff;
					background-color: var(--color-brand);
					padding: 27px 20px 27px 20px;
					display: inline-block;
					border: 1px solid transparent;

					&:hover {
						background-color: transparent;
						color: #000;
						border: 1px solid rgba(0, 0, 0, 0.5);
						transition: all 0.3s ease-in-out;
					}
				}
			}
		}

		.local-wrapper {
			background-color: #ff9c7d;

			.local-content {
				max-width: 784px;
				margin: 0 auto;
				padding: 119px 25px 161px;
				display: flex;
				flex-direction: column;
				align-items: center;

				.local-heading {
					font-weight: 600;
					font-size: 65px;
					line-height: 75px;
					text-align: center;
					color: #000000;
					margin-bottom: 29px;
				}

				.local-paragraph {
					font-size: 20px;
					line-height: 30px;
					text-align: center;
					color: #000000;
					margin-bottom: 54px;
				}

				.local-anchor {
					font-weight: 600;
					font-size: 17px;
					line-height: 1;
					text-align: center;
					background-color: #000;
					padding: 27px 40px 27px 40px;
					display: inline-block;
					color: #ffffff;
					border: 1px solid transparent;

					&:hover {
						background-color: #fff;
						color: #000;
						transition: all 0.3s ease-in-out;
					}
				}
			}
		}
	}

	.footer-wrapper {
		background-color: #eeeeee;

		.footer-content {
			max-width: 1290px;
			margin: 0 auto;
			padding: 92px 25px 43px;

			.case-nav-flex {
				display: flex;
				column-gap: 110px;
				padding-bottom: 95px;

				.case-wrap {
					display: flex;
					flex-direction: column;

					.footer-head-1 {
						font-weight: 600;
						font-size: 40px;
						line-height: 50px;
						color: #000000;
						margin-bottom: 28px;
					}

					.footer-cyclists-img {
						margin-bottom: 31px;
						align-self: flex-start;
					}

					.spec-logo {
						margin-bottom: 11px;
						align-self: flex-start;
					}

					.footer-paragraph {
						font-size: 20px;
						line-height: 30px;
						color: #000000;
						margin-bottom: 15px;
						width: 290px;
					}

					.footer-anchor {
						font-weight: 600;
						font-size: 20px;
						line-height: 30px;
						color: #000000;
						width: 107px;

						&:hover {
							color: var(--color-brand);
							transition: all 0.3s ease-in-out;
						}
					}
				}

				.nav-flex {
					display: flex;
					gap: 20px;
					flex-wrap: wrap;
					justify-content: space-around;

					.nav-flex-inside {
						display: flex;
						column-gap: 10px;

						div {
							.nav-flex-heading {
								font-weight: 600;
								font-size: 20px;
								line-height: 25px;
								color: #000000;
								margin-bottom: 21px;
							}

							ul {
								li {
									.nav-flex-item {
										font-size: 15px;
										line-height: 15px;
										color: #000000;
										display: inline-block;
										margin-bottom: 15px;
										width: 170px;

										&:hover {
											color: var(--color-brand);
											transition: all 0.3s;
										}
									}
								}
							}
						}
					}

					@media (max-width: 1200px) {
						.nav-flex-inside {
							column-gap: 60px;
						}
					}
				}
			}

			.footer-bottom {
				padding-top: 47px;
				border-top: 1px solid #000;
				display: flex;
				justify-content: space-between;

				.footer-bott-company {
					display: flex;
					column-gap: 15px;
					align-items: flex-start;

					.footer-paragraph-width {
						max-width: 301px;
						font-size: 12px;
						line-height: 15px;
						color: #000000;
					}
				}

				.footer-bott-rights {
					padding-right: 76px;
				}
			}
		}
	}
}
