@charset "UTF-8";
@font-face {
  font-family: "Graphik LC TT";
  src: url("../fonts/GraphikLCG-Regular.eot");
  src: local("☺"), url("../fonts/GraphikLCG-Regular.woff") format("woff"), url("../fonts/GraphikLCG-Regular.ttf") format("truetype"), url("../fonts/GraphikLCG-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LC TT";
  src: url("../fonts/GraphikLCG-Semibold.eot");
  src: local("☺"), url("../fonts/GraphikLCG-Semibold.woff") format("woff"), url("../fonts/GraphikLCG-Semibold.ttf") format("truetype"), url("../fonts/GraphikLCG-Semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
:root {
  --color-brand: #ff6336;
}

body {
  font-family: "Graphik LC TT", sans-serif;
  background-color: #fff;
}

.underlined-text {
  text-decoration: underline;
}

.d-flex {
  display: flex;
}

.ai-cent {
  align-items: center;
}

.ta-cent {
  text-align: center;
}

.m-auto {
  margin: 0 auto;
}

.black {
  color: #000000;
}

.header-wrapper {
  background-color: inherit;
  border-bottom: 1px solid #cccccc;
}

.header-content {
  max-width: 1338px;
  justify-content: space-between;
  padding: 25px 16px;
}

.navigation {
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media (max-width: 1200px) {
  .navigation {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 992px) {
  .navigation {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
.navigation .logo {
  align-self: center;
}
.navigation .main-menu {
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media (max-width: 1200px) {
  .navigation .main-menu {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 992px) {
  .navigation .main-menu {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
.navigation .main-menu-item {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}
.navigation .main-menu-item:hover {
  color: var(--color-brand);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .navigation .main-menu-item {
    font-size: 13px;
  }
}

.header-anchors {
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.header-anchors-login {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 13px 36px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
}
.header-anchors-login:hover {
  background-color: var(--color-brand);
  color: #fff;
  border: 1px solid var(--color-brand);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .header-anchors-login {
    padding: 10px 10px;
    font-size: 14px;
    align-self: center;
  }
}
.header-anchors-try {
  background-color: var(--color-brand);
  padding: 13px 21px;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  border: 1px solid transparent;
}
.header-anchors-try:hover {
  background-color: #fff;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .header-anchors-try {
    padding: 10px 10px;
    font-size: 14px;
    align-self: center;
  }
}

.hero {
  background-color: inherit;
}
.hero-bg-image {
  max-width: 1298px;
  padding: 129px 16px 172px;
  background-image: url(../images/hero-background-img.png);
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 50%;
}
@media (max-width: 992px) {
  .hero-bg-image {
    background-size: 48%;
  }
}
.hero-bg-image .hero-content {
  max-width: 552px;
}
.hero-bg-image .hero-content-head {
  font-weight: 600;
  font-size: 65px;
  line-height: 70px;
  margin-bottom: 0.8em;
}
@media (max-width: 1200px) {
  .hero-bg-image .hero-content-head {
    font-size: 60px;
  }
}
@media (max-width: 992px) {
  .hero-bg-image .hero-content-head {
    font-size: 50px;
    line-height: 55px;
  }
}
.hero-bg-image .hero-content-paragraph {
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 51px;
  max-width: 471px;
}
@media (max-width: 1200px) {
  .hero-bg-image .hero-content-paragraph {
    font-size: 20px;
    max-width: 450px;
  }
}
@media (max-width: 992px) {
  .hero-bg-image .hero-content-paragraph {
    max-width: 338px;
    font-size: 18px;
  }
}
.hero-bg-image .hero-content-butts {
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: 25px;
}
.hero-bg-image .hero-content-butts .butt-try {
  background-color: var(--color-brand);
  color: #fff;
  padding: 22px 42px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: #ffffff;
  border: 1px solid transparent;
}
.hero-bg-image .hero-content-butts .butt-try:hover {
  background-color: transparent;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .hero-bg-image .hero-content-butts .butt-try {
    padding: 12px 22px;
    font-size: 12px;
  }
}
.hero-bg-image .hero-content-butts .butt-bookdemo {
  padding: 22px 29px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
}
.hero-bg-image .hero-content-butts .butt-bookdemo:hover {
  background-color: var(--color-brand);
  color: #fff;
  border: 1px solid var(--color-brand);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .hero-bg-image .hero-content-butts .butt-bookdemo {
    padding: 12px 19px;
    font-size: 12px;
  }
}
.hero-bg-image .hero-content-additional {
  font-size: 15px;
  line-height: 25px;
}

.companies {
  background-color: #ff9c7d;
}
.companies-content {
  max-width: 1243px;
  padding: 108px 16px 104px;
}
.companies-content-head {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 70px;
}
.companies-content-logos {
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
}

.benefits {
  background-color: inherit;
}
.benefits-content {
  max-width: 1290px;
  padding: 90px 16px 150px;
}
.benefits-content-item {
  justify-content: space-around;
  margin-bottom: 250px;
}
.benefits-content-item:last-child {
  margin-bottom: 0;
}
.benefits-content-item:nth-child(even) {
  flex-direction: row-reverse;
}
.benefits-content-item img {
  width: 50%;
  height: auto;
}
@media (max-width: 1200px) {
  .benefits-content-item img {
    width: 40%;
  }
}

.benefits-txt {
  max-width: 493px;
}
.benefits-txt-head {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .benefits-txt-head {
    font-size: 45px;
  }
}
.benefits-txt-parag {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}
.benefits-txt-anchor {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.benefits-txt-anchor:hover {
  color: var(--color-brand);
  transition: all 0.3s ease-in-out;
}

.localise {
  background-color: #fff8e4;
}
.localise-content {
  max-width: 1172px;
  padding: 120px 16px 147px;
}
.localise-content-head {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 79px;
}
.localise-content-items {
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 75px;
}

.localise-item {
  flex-direction: column;
}
.localise-item-image {
  align-self: center;
  margin-bottom: 26px;
}
.localise-item-heading {
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 20px;
}
.localise-item-paragraph {
  font-size: 18px;
  line-height: 25px;
  width: 330px;
}

.boost {
  background-color: inherit;
}
.boost-content {
  max-width: 1287px;
  padding: 154px 16px 187px;
}
.boost-content-head {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 75px;
}
.boost-content-items {
  -moz-column-gap: 31px;
       column-gap: 31px;
}

.boost-item {
  flex-direction: column;
}
.boost-item-wrap {
  height: 201px;
  margin-bottom: 50px;
}
.boost-item-wrap-img {
  align-self: center;
}
.boost-item-heading {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 34px;
}
.boost-item-paragraph {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 25px;
  max-width: 409px;
}
.boost-item-link {
  font-size: 20px;
  line-height: 30px;
}

.quote {
  background-color: #c9e8f2;
}
.quote-content {
  max-width: 1290px;
  padding: 53px 16px 105px;
}
.quote-content-wrap {
  -moz-column-gap: 59px;
       column-gap: 59px;
}

.quote-paragraph {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 23px;
}
@media (max-width: 1200px) {
  .quote-paragraph {
    font-size: 25px;
  }
}

.quote-caption {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 7px;
}

.translation {
  background-color: #dabc98;
}
.translation-content {
  max-width: 1248px;
  padding: 79px 16px 84px;
}
.translation-content-wrap {
  gap: 67px;
}
.translation-content-wrap .translation-cake {
  align-self: center;
}
.translation-content-wrap .translation-heading {
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;
  padding: 10px;
}
@media (max-width: 992px) {
  .translation-content-wrap {
    gap: 30px;
  }
}
.translation-content-images {
  gap: 70px;
  border-left: 1px solid #000;
  padding: 30px 0 30px 71px;
}
.translation-content-images img {
  align-self: center;
}
@media (max-width: 1200px) {
  .translation-content-images {
    flex-direction: column;
  }
}

.integrate {
  background-color: inherit;
}
.integrate-content {
  max-width: 1023px;
  padding: 165px 16px 162px;
  flex-direction: column;
}
.integrate-content-head {
  font-weight: 600;
  font-size: 65px;
  line-height: 75px;
}
.integrate-content-paragraph {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 25px;
  max-width: 539px;
}
.integrate-content-image {
  margin-bottom: 32px;
  width: 100%;
  height: auto;
}
.integrate-content-anchor {
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: #ffffff;
  background-color: var(--color-brand);
  padding: 27px 20px 27px 20px;
  display: inline-block;
  border: 1px solid transparent;
}
.integrate-content-anchor:hover {
  background-color: transparent;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.local {
  background-color: #ff9c7d;
}
.local-content {
  max-width: 784px;
  padding: 119px 16px 161px;
  flex-direction: column;
}
.local-content-head {
  font-weight: 600;
  font-size: 65px;
  line-height: 75px;
  margin-bottom: 29px;
}
.local-content-paragraph {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 54px;
}
.local-content-anchor {
  font-weight: 600;
  font-size: 17px;
  line-height: 1;
  padding: 27px 40px 27px 40px;
  display: inline-block;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid transparent;
}
.local-content-anchor:hover {
  background-color: #fff;
  color: #000000;
  transition: all 0.3s ease-in-out;
}

.footer {
  background-color: #eeeeee;
}
.footer-content {
  max-width: 1290px;
  padding: 92px 16px 43px;
}
.footer-content-case {
  -moz-column-gap: 110px;
       column-gap: 110px;
  padding-bottom: 95px;
}

.footer-bottom {
  padding-top: 47px;
  border-top: 1px solid #000;
  justify-content: space-between;
}
.footer-bottom-company {
  -moz-column-gap: 15px;
       column-gap: 15px;
  align-items: flex-start;
}
.footer-bottom-company .footer-paragraph {
  max-width: 301px;
  font-size: 12px;
  line-height: 15px;
}
.footer-bottom-rights {
  padding-right: 76px;
}

.nav {
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (max-width: 1200px) {
  .nav .nav-flex-inside {
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
}

.nav-item-head {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 21px;
}

.nav-flex-item {
  font-size: 15px;
  line-height: 15px;
  display: inline-block;
  margin-bottom: 15px;
  width: 170px;
}
.nav-flex-item:hover {
  color: var(--color-brand);
  transition: all 0.3s ease-in-out;
}

.case {
  flex-direction: column;
}
.case-head {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 28px;
}
.case-cyclists {
  margin-bottom: 31px;
  align-self: flex-start;
}
.case-logo {
  margin-bottom: 11px;
  align-self: flex-start;
}
.case-paragraph {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 15px;
  width: 290px;
}
.case-anchor {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  width: 107px;
}
.case-anchor:hover {
  color: var(--color-brand);
  transition: all 0.3s ease-in-out;
}/*# sourceMappingURL=main.css.map */